.array-container {
  margin: 0 auto;
  margin-top: 20px;
  width: 100%;
  position: absolute;
  bottom: 12%;
}

.array-bar {
  background-color: #32d1c4;
  width: 2px;
  display: inline-block;
  margin: 0 1px;
}
